.zm-notes-list {
    margin-top: 10px;
  }
  
  .zm-notes-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .note-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
  }
  .invalid-field {
    border: 1px solid red;
  }
  .morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.more {
  word-break: break-all;
  width: 80%;
  display: block;
  white-space: normal;
  line-height: 1.5em;
}
.more .morelink {
  color: RGB(48, 134, 236);
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
}