.zm-notes-list {
    margin-top: 10px;
  }
  
  .zm-notes-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .note-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
  }
  .invalid-field {
    border: 1px solid red;
  }
  .morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.more {
  word-break: break-all;
  width: 80%;
  display: block;
  white-space: normal;
  line-height: 1.5em;
}
.more .morelink {
  color: RGB(48, 134, 236);
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
}
.button-group {
  display: flex;
  gap: 10px;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #6a6d70;
  color: white;
  border-radius: 4px;
  border: 1px solid #fff; /* Add a white border */
  font-family: Arial, sans-serif; /* Example font change */
  padding-right: 25px; /* Add space for the icon */
 
}
.upload-section {
  margin-top: 10px; /* Adjust the margin as needed */
}

.custom-file-upload input[type="file"] {
  display: none;
}
 
.custom-file-upload:hover {
  background-color: #565c61; /* Change background on hover */
  border-color: #fff; /* Maintain white border on hover */
}
.custom-file-upload::after {
 
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px; /* Adjust positioning */
  top: 50%;
  transform: translateY(-50%); /* Center icon vertically */
}
.error-message.small-text {
  text-align: left;
  color: red;
  font-size: smaller;
  margin-top: 10px; /* Adjust as needed */
  margin-left: 5px; /* Adjust as needed */
  margin-bottom: 15px; /* Adjust as needed */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ad-footer {
  margin-top: auto;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  margin-left: -2px;  
}

.pagination-container button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.pagination-container button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination-container span {
  margin: 0 10px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -197px;  
  height: 50px;
  margin-top: 150px;
  margin-bottom: 0px; /* Set height to 100% of viewport height */
}
.modal {
  z-index: 1050; /* Ensure modal is above backdrop */
}

/* Backdrop styles */
.modal-backdrop {
  z-index: 1040; /* Ensure backdrop is below modal */
}

.version-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.version-header {
  display: flex;
  justify-content: space-between;
}

.version-number {
  font-weight: bold;
}

.created-date {
  align-self: flex-end;
  font-size: 0.8em;
  color: #888;
}
.note-text1 {
  font-size: 0.8em; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
  margin-left: 5px; /* Adjust the margin as needed */
  font-style: italic; /* Add italic style */
}
/* Ensure the main container takes the full height of the viewport */
.zm-provider-middle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/* Sidebar styling */
.zm-prov-sidebar {
  flex: 0 0 250px; /* Sidebar fixed width */
  display: flex;
  flex-direction: column;
  height: auto; /* Let the height be determined by content */
  min-height: 100vh; /* Minimum height to fill the viewport */
  border-right: 1px solid #ddd; /* Sidebar border */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Adjust the middle content area */
.zm-prov-middle {
  flex: 1;
  padding: 20px;
  margin-left: -100px;
  width: calc(100% - 250px); /* Adjust width based on sidebar */
}
.btn {
  transition: transform 0.2s, opacity 0.2s;
}
.btn:disabled {
  cursor: not-allowed;
}
.text-button {
  border: none;
  background: none;
  color: blue; 
  cursor: pointer;
  
}
.button-div{
  margin-bottom: 15px;
  margin-left: -5px;
}
.login-box-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 100px;
 
}
.error-message {
  color: red;
  font-size: 0.66em; 
}
 
.note-text1 {
   
  font-size: 14px; 
  font-weight: normal;  
  color: #333;  
}




